@model LawnMowerFormModel
@{
    ViewData["Title"] = "Редактирай косакчка";
}

<h2 class="text-center">Редактирай косачка</h2>
<hr />

<partial name="_LawnMowerFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

