@using static Tehnoforest.Common.GeneralApplicationConstants;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tehnoforest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tehnoforest.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <partial name="_NotificationsPartial" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" style="width:70px; height:70px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Chainsaw" asp-action="All">Верижни триони</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="LawnMower" asp-action="All">Косачки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Automower" asp-action="All">Косачки-роботи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GrassTrimmer" asp-action="All">Моторни коси</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GardenTractor" asp-action="All">Градински трактори</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropbtn">Сервиз</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="RepairServiceProduct" asp-action="Info">Сервизи</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RepairServiceProduct" asp-action="All">История на ремонтите</a>
                                    @if (this.User.IsInRole("Administrator"))
                                    {
                                        <a class="nav-link text-dark" asp-controller="RepairServiceProduct" asp-action="Add">Добави машина за ремонт</a>
                                    }

                                </div>
                            </div>
                        </li>
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="dropbtn">Добави продукт</button>
                                    <div class="dropdown-content">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Chainsaw" asp-action="Add">Добави моторен трион</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Automower" asp-action="Add">Добави автоматична косачка</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="GardenTractor" asp-action="Add">Добави градински трактор</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="GrassTrimmer" asp-action="Add">Добави моторна коса</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="LawnMower" asp-action="Add">Добави косачка</a>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>За Фирмата</h6>
                    <p class="text-justify">
                        <strong>Технофорест ООД</strong>. Оторизиран дистрибутор на Хускварна груп.
                        Оторизиран Сервиз и Поддръжка.
                        Оригинални резервни части и аксесоари.
                        Повече от 25 години доказана фирма. 
                        <strong>Информация за контакт:</strong>
                        Бул. 23-ти Пехотен Шипченски Полк 16
                        Телефон: +359 (0) 888 321844
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Продукти</h6>
                    <ul class="footer-links">
                        <li><a asp-controller="Automower" asp-action="All">Автоматични косачки</a></li>
                        <li><a asp-controller="Chainsaw" asp-action="All">Верижни триони</a></li>
                        <li><a asp-controller="LawnMower" asp-action="All">Косачки</a></li>
                        <li><a asp-controller="GrassTrimmer" asp-action="All">Моторни коси</a></li>
                        <li><a asp-controller="GardenTractor" asp-action="All">Градински трактори</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Къде да ни намерите</h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.0417090532264!2d25.386598376618263!3d42.618071418761296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a853f7d67246f9%3A0x6b728625c852f65!2sUlitsa%20%2223-ti%20pehoten%20Shipchenski%20polk%22%2016%2C%206100%20Novenski%2C%20Kazanlak!5e0!3m2!1sen!2sbg!4v1691662079615!5m2!1sen!2sbg" width="270" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        &copy; Tehnoforest - @ReleaseYear
                        @if (DateTime.UtcNow.Year != ReleaseYear)
                        {
                            @Html.Raw($" - {DateTime.UtcNow.Year}")
                        }
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
