@model AutomowerFormModel
@{
    ViewData["Title"] = "Редактирай автоматична трион";
}

<h2 class="text-center">Редактирай автоматична косачка</h2>
<hr />

<partial name="_AutomowerFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

