﻿@{
	ViewData["Title"] = "Shopping Cart";
}

<div class="shopping-cart-container">
	<div class="shopping-cart-title">Your cart items</div>

	@{
		if (ViewBag.ItemsCount == 0)
		{
			<div class="empty-shopping-cart-container">
				<img class="empty-cart-image" src="~/images/shopping_cart_empty.svg" alt="Your shopping cart is empty" />
				<p class="empty-cart-heading">Unfortunately, your cart is empty...</p>
				<div class="empty-cart-description">
					<p>
						Looks like you have not added anything to your cart. Go ahead and <a style="color: var(--eshop-blue);" href="@Url.Action("Index", "Home")#top-picks">explore our top-picks.</a>
					</p>
				</div>
			</div>
		}
		else
		{
			
		}
	}
</div>