<link rel="stylesheet" href="~/css/repairService.css" type="text/css" />

<fieldset>
    <legend>Сервиз Техно Форест ООД</legend>
    <h6>Гаранционен и извънгранционен сервиз на: Husqvarna</h6>
    <p><strong>Казанлък</strong> - бул. 23 Пехотен Шипченски Полк 16</p>
    <p> <strong>тел:</strong>088 8321844</p>
    <p><strong>email:</strong> info@tehnoforest.bg</p>
</fieldset>
<div class="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.038870577321!2d25.386640576618177!3d42.61813161875748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a853beb950ae03%3A0x35743b70de5024ff!2z0KXRg9GB0LrQstCw0YDQvdCwLCDQvNCw0LPQsNC30LjQvSDQuCDRgdC10YDQstC40Lc!5e0!3m2!1sbg!2sbg!4v1690283021021!5m2!1sbg!2sbg" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>