@model ChainsawFormModel
@{
    ViewData["Title"] = "Редактирай верижен трион";
}

<h2 class="text-center">Редактирай верижен трион</h2>
<hr/>

<partial name="_ChainsawFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
